.setup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.stretch {
  display: flex;
  gap: 3.2rem;
  align-items: flex-start;
}

.deploy-btn {
  background: #a0c6ff;
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  margin-top: 3.6rem;

  border: none;
  width: 100%;
  border-radius: 1.2rem;
  padding: 1.6rem 2.4rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:active,
  &:disabled {
    background: #809ecc;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
