.setup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .outer-container {
    .divider {
      width: 100%;
      margin-top: 3.2rem;
    }
  }
}

.stretch {
  display: flex;
  gap: 3.2rem;
  align-items: flex-start;
}

.deploy-btn {
  background: #a0c6ff;
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  margin-top: 3.6rem;

  border: none;
  width: 100%;
  border-radius: 1.2rem;
  padding: 1.6rem 2.4rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:active,
  &:disabled {
    background: #809ecc;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@media (max-width: 800px) {
  .stretch {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 428px) {
  .deploy-btn {
    font-size: 1.6rem;
    padding: 1.6rem 2rem;

    img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
