.feedback {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  background: rgba(160, 198, 255, 0.2);
  margin-top: 3.6rem;
}

.email-input {
  margin-top: 3.6rem;
  display: flex;
  width: 54.5rem;
  padding: 0.4rem 0.4rem 0.4rem 1.6rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.6rem;
  border: 1px solid #a0c6ff;

  input {
    color: #fff;
    width: 65%;
    background: transparent;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 140%;

    &:focus {
      outline: none;
    }
  }

  button {
    min-width: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    color: #000;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 140%;
    border-radius: 1.2rem;
    background: #a0c6ff;

    &:hover,
    &:active,
    &:disabled {
      background-color: #809ecc;
    }
  }
}

.error-message {
  font-family: "Work Sans", sans-serif;
  color: #db3031;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 120%;
  margin-top: 0.4rem;
}

@media (max-width: 718px) {
  .email-input {
    width: 100%;
  }
}

@media (max-width: 622px) {
  .email-input {
    input {
      font-size: 1.6rem;
    }

    button {
      min-width: 10rem;
      font-size: 1.6rem;
    }
  }

  .feedback {
    font-size: 1.6rem;
  }
}

@media (max-width: 538px) {
  .email-input {
    button {
      padding: 1.2rem 1.6rem;
      min-width: 8rem;
    }
  }
}

@media (max-width: 478px) {
  .email-input {
    button {
      padding: 1.2rem 1rem;
      min-width: 6rem;
    }
  }
}

@media (max-width: 388px) {
  .email-input {
    input {
      font-size: 1.2rem;
      font-weight: 400;
    }
    button {
      padding: 1rem 0.6rem;
      font-size: 1.2rem;
    }
  }

  .error-message {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .feedback {
    font-size: 1.4rem;
  }
}
