.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  // cursor: url("../public/cross-icon.png"), auto;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
  animation: slide-up 300ms ease-out forwards;
}

.modal.close {
  animation: slide-down 200ms ease-out forwards;
}

@keyframes slide-up {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes slide-down {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 100%);
  }
}
