.input-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3.2rem;
  .error-message {
    color: #db3031;
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    margin-top: 0.4rem;
    font-weight: 500;
    line-height: 120%;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #f5f5ff;
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 1.2rem;
  span {
    color: #db3031;
  }
}

.link:link,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
}

.prompt-textarea {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
  height: 10.9rem;
  padding: 1.6rem;
  // margin-bottom: 3.2rem;
  border-radius: 2rem;
  border: 1px solid rgba(160, 198, 255, 0.4);
  background: transparent;
  resize: none;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 2rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2rem;
  }
}
