@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* height: 100vh; */
  /* overflow-y: hidden; */
}

body {
  font-family: "Work Sans", sans-serif;
  background: url("/images/background-v2.svg");
  background-attachment: fixed;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}
