.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  h3 {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 2rem;
  }

  a:link,
  a:visited {
    border-radius: 12px;
    background: var(--Primary, #a0c6ff);
    color: #000;
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.2rem 2.4rem;
  }

  a:hover,
  a:active {
    background-color: #809ecc;
  }
}

@media (max-width: 610px) {
  .not-found {
    h3 {
      font-size: 2rem;
    }

    a:link,
    a:visited {
      font-size: 1.6rem;
      padding: 1rem 2rem;
    }
  }
}
