.home-page {
  margin: 14.6rem auto auto 11vw;

  .title {
    color: #a0c6ff;
    font-family: "Work Sans", sans-serif;
    font-size: 10rem;
    font-weight: 800;
    line-height: 120%;
    margin: 2.4rem 0;
    max-width: 90.7rem;
  }

  .sub-title {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Work Sans", sans-serif;
    font-size: 2.4rem;
    max-width: 67.4rem;
    font-weight: 500;
    line-height: 140%;
  }
}
