.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.3rem;
}

.setup-page {
  display: flex;
  flex-direction: column;
  margin: 7.97rem auto 0 auto;
  max-width: 99.4rem;
  min-height: calc(100vh - 23.8px - 3.3rem - 7.97rem);
  padding: 4.8rem;
  padding-bottom: 3.2rem;
  border-radius: 1.6rem 1.6rem 0 0;
  border: 5px solid #a0c6ff;
  border-bottom: 0;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(50px);

  .divider {
    width: 100%;
    overflow: hidden;
  }

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    position: relative;

    .hamburger {
      display: none;
      background: transparent;
      border: none;
      cursor: pointer;
      width: 28px;
      height: 28px;
      padding: 0.4rem;
      border-radius: 4px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .title {
      margin-right: auto;
      color: #f5f5ff;
      font-family: "Work Sans", sans-serif;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 120%;
    }

    .email:link,
    .email:visited {
      margin-right: 0.8rem;
      color: #f5f5ff;
      font-family: "Work Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 120%;
    }

    .logout-btn {
      color: #fd4438;
      background: transparent;
      cursor: pointer;
      border: none;
      font-family: "Work Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 120%;
    }
  }
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 3.2rem;
}

.grid-span {
  grid-column: 1/-1;
}

@media (max-width: 766px) {
  .setup-page {
    margin: 4.8rem auto 0 auto;
    min-height: calc(100vh - 23.8px - 3.3rem - 4.8rem);

    .heading {
      .title {
        font-size: 2.4rem;
      }

      .email:link,
      .email:visited {
        font-size: 1.4rem;
      }

      .logout-btn {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .setup-page {
    .heading {
      .hamburger {
        display: block;
      }

      .email,
      .logout-btn {
        display: none;
      }
    }
  }
}
@media (max-width: 480px) {
  .setup-page {
    padding: 3.2rem;
  }
}

@media (max-width: 392px) {
  .setup-page {
    .heading {
      .title {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 346px) {
  .setup-page {
    padding: 2.4rem;
  }
}
