.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.3rem;
}

.update-page {
  display: flex;
  flex-direction: column;
  margin: 7.97rem auto 0 auto;
  max-width: 99.4rem;
  min-height: calc(100vh - 23.8px - 3.3rem - 7.97rem);
  padding: 4.8rem;
  padding-bottom: 3.2rem;
  border-radius: 1.6rem 1.6rem 0 0;
  border: 5px solid #a0c6ff;
  border-bottom: 0;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(50px);

  .divider {
    width: 100%;
    overflow: hidden;
  }

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    position: relative;

    .hamburger {
      display: none;
      background: transparent;
      border: none;
      cursor: pointer;
      width: 28px;
      height: 28px;
      padding: 0.4rem;
      border-radius: 4px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .title {
      margin-right: auto;
      color: #f5f5ff;
      font-family: "Work Sans", sans-serif;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 120%;
    }

    .email {
      margin-right: 0.8rem;
      color: #f5f5ff;
      font-family: "Work Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 120%;
    }

    .logout-btn {
      color: #fd4438;
      background: transparent;
      cursor: pointer;
      border: none;
      font-family: "Work Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 120%;
    }
  }
}

.deploy-btn:link,
.deploy-btn:visited {
  padding: 20px 16px;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  backdrop-filter: blur(38.5px);
  border: none;
  display: flex;
  align-items: center;
  margin-top: 3.2rem;
  cursor: pointer;

  span {
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.16px;
    margin-left: 1.2rem;
    margin-right: auto;
    font-family: "Inter", sans-serif;
  }

  &:hover,
  &:active {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }
}

@media (max-width: 800px) {
  .inner-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media (max-width: 766px) {
  .update-page {
    margin: 4.8rem auto 0 auto;
    min-height: calc(100vh - 23.8px - 3.3rem - 4.8rem);

    .heading {
      .title {
        font-size: 2.4rem;
      }

      .email:link,
      .email:visited {
        font-size: 1.4rem;
      }

      .logout-btn {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .update-page {
    .heading {
      .hamburger {
        display: block;
      }

      .email,
      .logout-btn {
        display: none;
      }
    }
  }
}
@media (max-width: 480px) {
  .update-page {
    padding: 3.2rem;
  }
}

@media (max-width: 392px) {
  .update-page {
    .inner-container {
      .item {
        font-size: 1.6rem;

        button {
          font-size: 1.4rem;
        }
      }

      p {
        font-size: 1.6rem;
      }
    }

    .heading {
      .title {
        font-size: 2rem;
      }
    }

    .tertiary-heading {
      font-size: 1.8rem;
    }

    .deploy-btn:link,
    .deploy-btn:visited {
      padding: 1.6rem 1.2rem;

      span {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 346px) {
  .update-page {
    padding: 2.4rem;

    .deploy-btn:link,
    .deploy-btn:visited {
      img {
        width: 16px;
      }

      span {
        font-size: 1.4rem;
      }
    }
  }
}
