.verify-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .error {
    color: #fff;
    text-align: center;

    p {
      color: #fff;
      font-family: "Work Sans", sans-serif;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      margin-bottom: 2rem;
    }

    a:link,
    a:visited {
      border-radius: 12px;
      background: var(--Primary, #a0c6ff);
      color: #000;
      font-family: "Work Sans", sans-serif;
      font-size: 2rem;
      font-weight: 500;
      padding: 1.2rem 2.4rem;
    }

    a:hover,
    a:active {
      background-color: #809ecc;
    }
  }

  .success {
    p {
      color: #fff;
      font-family: "Work Sans", sans-serif;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 460px) {
  .verify-page {
    .error {
      p {
        font-size: 2rem;
      }

      a:link,
      a:visited {
        font-size: 1.6rem;
        padding: 1rem 2rem;
      }
    }

    .success {
      p {
        font-size: 2rem;
      }
    }
  }
}
